---
extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  colons:
    max-spaces-after: -1
    level: error
  commas:
    max-spaces-after: -1
    level: error
  empty-lines:
    max: 2
    level: error
  hyphens:
    level: error
  indentation:
    spaces: 2
    indent-sequences: true
  key-duplicates: enable
  line-length:
    max: 140
  new-line-at-end-of-file: disable
  new-lines:
    type: unix
  trailing-spaces: disable
