{
  project_name: 'iam-demo',
  ansible_ssh_authorized_keys: [],
  ansible_files_path: 'the ansible folder',
  ansible_inventory_path: self.ansible_files_path + '/inventory',
  kubernetes_files_path: 'the kubernetes folder',
  admin_username: 'admin',
  admin_password: 'admin password',
  admin_ssh_authorized_keys: [],
  ansible_ssh_import_id: [],
  admin_ssh_import_id: [],
}
