{
  "policies": {
    "Certificates": {
      "ImportEnterpriseRoots": true,
      "Install": {{ custom_ca_paths | to_json }}
    },
    "ManagedBookmarks": [
      {
        "toplevel_name": "Managed bookmarks"
      },
      {
        "url": "https://keycloak.iam-demo.test/",
        "name": "Login"
      },
      {
        "name": "Tools",
        "children": [
          {
            "url": "https://alertmanager.iam-demo.test/",
            "name": "Alertmanager"
          },
          {
            "url": "https://consul.iam-demo.test/",
            "name": "Consul"
          },
          {
            "url": "https://consul.iam-demo.test/",
            "name": "Grafana"
          },
          {
            "url": "https://consul.iam-demo.test/",
            "name": "Prometheus"
          }
        ]
      },
      {
        "name": "Tools (local proxy)",
        "children": [
          {
            "url": "http://127.0.0.1:9000/dashboard/",
            "name": "Traefik Dashboard"
          },
          {
            "url": "http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy/",
            "name": "Kubernetes Dashboard"
          }
        ]
      },
      {
        "name": "Documentation",
        "children": [
          {
            "url": "https://github.com/sinetris/iam-demo",
            "name": "IAM Demo on GitHub"
          }
        ]
      }
    ]
  }
}
