---
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: {{ secret_metadata_name }}
  namespace: {{ secret_metadata_namespace }}
data:
  tls.crt: {{ b64encoded_crt }}
  tls.key: {{ b64encoded_key }}
