---
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: tools
data:
  test.server: |
    {{project_domain}}:53 {
      errors
      cache 30
      forward . {{custom_dns_server}}
    }
