---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: traefik-tls-cert
  namespace: tools
data:
  tls.crt: {{ b64encoded_crt }}
  tls.key: {{ b64encoded_key }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: tools
spec:
  valuesContent: |-
    tlsStore:
      default:
        defaultCertificate:
          secretName: traefik-tls-cert
