---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments:
      - "--api"
      - "--api.dashboard=true"
      - "--api.insecure=false"
      - "--log.level=DEBUG"
    tlsStore:
      default:
        defaultCertificate:
          secretName: traefik-tls-cert
